<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-2.12.0.min.js" integrity="sha512-S43+iQjoc+G8bFvEORq3Sqp0eCbPImBtZP25oTDYohpB6mOZB4Hgk9HNEW5qpbM97q15r1Z5StlfmM9oyZ7PSA==" crossorigin="anonymous"></script>
    {% include "favicon.jinja" %}

</head>
<body>
{% for plot in graphs %}
    <div id='chart_{{ loop.index }}' class='chart'></div>

    <script type='text/javascript'>
        Plotly.newPlot('chart_{{ loop.index }}',{{plot | safe}},{});
    </script>
{% endfor %}


</body>

</html>